<launch>
  <arg name="nucleo_port" default="/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF495051717867111945-if02" />
  <arg name="motor_fr_port" default="/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066FFF515055657867244552-if02" />
  <arg name="motor_br_port" default="/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_0673FF515055657867211816-if02" />
  <arg name="motor_fl_port" default="/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066FFF515055657867203313-if02" />
  <arg name="motor_bl_port" default="/dev/serial/by-id/usb-STMicroelectronics_STM32_STLink_066EFF515055657867203360-if02" />

  <include file="$(find nhk2019_mr1)/launch/core.launch">
    <arg name="nucleo_port" value="$(arg nucleo_port)" />
  </include>

  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="deadzone" value="0.0" />
  </node>

  <node name="main" pkg="nhk2019_mr1" type="main" output="screen">
    <param name="acc_lim_v" type="double" value="0.25" />
    <param name="acc_lim_w" type="double" value="1.0" />
    <!-- <param name="vel_lim_v" type="double" value="2.0" /> -->
    <param name="vel_lim_v" type="double" value="1.0" />
    <param name="vel_lim_w" type="double" value="1.0" />
    <param name="decel_factor" type="double" value="5.0" />
  </node>

  <node name="omni" pkg="nhk2019_mr1" type="omni" output="screen">
    <param name="fr_port" value="$(arg motor_fr_port)" />
    <param name="br_port" value="$(arg motor_br_port)" />
    <param name="fl_port" value="$(arg motor_fl_port)" />
    <param name="bl_port" value="$(arg motor_bl_port)" />
    <param name="motor_kp" value="0.0005" />
    <param name="motor_ki" value="0.00001" />
    <param name="motor_kd" value="0.000001" />
    <param name="angle_correction" value="true" />
    <!-- <param name="angle_kp" value="0.01" />
    <param name="angle_ki" value="0.01" />
    <param name="angle_kd" value="0.001" /> -->
    <param name="angle_kp" value="20.0" />
    <param name="angle_ki" value="0.2" />
    <param name="angle_kd" value="200.0" />
    <param name="max_rot_vel" value="1.0" />
  </node>
</launch>
